<div class="input">
    <br>
    <h4>Enter Source </h4>
    <p><input type="text" id="source" name="source" [(ngModel)]="source"></p>
    <h4>Enter Destination </h4>
    <p><input type="text" id="dest" name="dest" [(ngModel)]="dest"></p>
    <h4 id="p1" *ngIf="inputSD">Distance between is </h4>

    <button type="button" class="button" onclick="myFunction(source, dest)" (click)="clickme()">Get Distance</button>
    <br>
    <br>
</div>
<agm-map [latitude]="latitude" [longitude]="longitude">

</agm-map>